<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Thymeleaf</title>
</head>
<body>
    <H1 th:text="${hello}"  >Hi Thymeleaf</H1>
    <a href="/basic/thText" target="_self">th:text 字符串输出</a><br/>
    <a href="/basic/thIfUnless">th:if \ th:unless 条件判断</a><br/>
    <a href="/basic/thList">thList list遍历</a><br/>
    <a href="/basic/url">@{} 编辑URL，并且内部可使用变量</a><br/>
    <a href="/basic/thEq">EQ 字符串、数字等比较运算</a><br/>
    <a href="/basic/thSwitch">switch 判断</a><br/>
</body>
</html>
