<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Example gt eq  </title>
</head>
<body>
<div >
    <h1>EQ 字符串、数字等比较运算</h1>
    <label>
        <input th:value="${name}"/>
    </label>
    <br/>
    <label>
        <input th:value="${age gt 30 ? '中年':'年轻'}"/>
    </label>
    <br/>
    <a th:if="${flag eq 'yes'}"  th:href="@{http://favorites.ren/}"> favorites </a>

    <h5><a href="/hi" target="_self">Hi Thymeleaf</a><br/></h5>

</div>
</body>
</html>
