<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Example If/Unless </title>
</head>
<body>
<div >
    <h1><a href="/url" target="_self">URL 可编辑URL</a></h1>
    <a  th:href="@{http://www.ityouknow.com/{type}(type=${type})}">link1</a>
    <br/>
    <a th:href="@{http://www.ityouknow.com/{pageId}/can-use-springcloud.html(pageId=${pageId})}">view</a>
    <br/>
    <div th:style="'background:url(' + @{${img}} + ');'">
        <br/><br/><br/>
    </div>

    <h5><a href="/hi" target="_self">Hi Thymeleaf</a><br/></h5>

</div>
</body>
</html>
