# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
rebel.xml
HELP.md
NiufenCommon/.mvn/wrapper/MavenWrapperDownloader.java
NiufenCommon/.mvn/wrapper/maven-wrapper.properties
NiufenCommon/NiufenCommon.iml
NiufenCommon/common.iml
NiufenCommon/mvnw
NiufenCommon/mvnw.cmd
NiufenCommon/target/classes/
NiufenCommon/target/generated-sources/
NiufenCommon/target/generated-test-sources/
NiufenCommon/target/maven-archiver/
NiufenCommon/target/maven-status/
NiufenCommon/target/surefire-reports/
NiufenCommon/target/test-classes/
SpringBootDemo/D01_SpringBootConfig/target/generated-sources/
SpringBootDemo/D01_SpringBootConfig/target/generated-test-sources/
SpringBootDemo/D01_SpringBootConfig/target/test-classes/
SpringBootDemo/D02_SpringBootMyBatis/target/generated-sources/
SpringBootDemo/D02_SpringBootMyBatis/target/generated-test-sources/
SpringBootDemo/D04_SpringBootDruidMultiMyBatis/target/generated-sources/
SpringBootDemo/D04_SpringBootDruidMultiMyBatis/target/generated-test-sources/
SpringBootDemo/D04_SpringBootDruidMultiMyBatis/target/test-classes/
SpringBootDemo/D05_SpringBootAopLog/target/generated-sources/
SpringBootDemo/D05_SpringBootAopLog/target/generated-test-sources/
SpringBootDemo/D05_SpringBootAopLog/target/test-classes/
SpringBootDemo/D06_SpringBootRedis/src/main/java/io/niufen/common/
SpringBootDemo/D06_SpringBootRedis/target/generated-sources/
SpringBootDemo/D06_SpringBootRedis/target/generated-test-sources/
SpringBootDemo/D06_SpringBootRedis/target/test-classes/
SpringBootDemo/D07_SpringBootJson/target/generated-sources/
SpringBootDemo/D07_SpringBootJson/target/generated-test-sources/
SpringBootDemo/D07_SpringBootJson/target/test-classes/
SpringBootDemo/D08_SpringBootRabbitMQ/target/generated-sources/
SpringBootDemo/D08_SpringBootRabbitMQ/target/generated-test-sources/
SpringBootDemo/D08_SpringBootRabbitMQ/target/test-classes/
SpringBootDemo/D09_SpringBootMail/target/generated-sources/
SpringBootDemo/D09_SpringBootMail/target/generated-test-sources/
SpringBootDemo/D09_SpringBootMail/target/test-classes/
SpringBootDemo/D10_SpringBootSchedule/target/generated-sources/
SpringBootDemo/D10_SpringBootSchedule/target/generated-test-sources/
SpringBootDemo/D10_SpringBootSchedule/target/test-classes/
SpringBootDemo/D12_SpringBootWeb/.mvn/wrapper/MavenWrapperDownloader.java
SpringBootDemo/D12_SpringBootWeb/.mvn/wrapper/maven-wrapper.properties
SpringBootDemo/D12_SpringBootWeb/D12_SpringBootWeb.iml
SpringBootDemo/D12_SpringBootWeb/mvnw
SpringBootDemo/D12_SpringBootWeb/mvnw.cmd
SpringBootDemo/D12_SpringBootWeb/target/
SpringBootDemo/D13_SpringBootBeanRunOrder/.mvn/wrapper/MavenWrapperDownloader.java
SpringBootDemo/D13_SpringBootBeanRunOrder/.mvn/wrapper/maven-wrapper.properties
SpringBootDemo/D13_SpringBootBeanRunOrder/D13_SpringBootBeanRunOrder.iml
SpringBootDemo/D13_SpringBootBeanRunOrder/mvnw
SpringBootDemo/D13_SpringBootBeanRunOrder/mvnw.cmd
SpringBootDemo/D13_SpringBootBeanRunOrder/target/
SpringBootDemo/D20_SpringBootThymeleaf/target/generated-sources/
SpringBootDemo/D20_SpringBootThymeleaf/target/generated-test-sources/
SpringBootDemo/D20_SpringBootThymeleaf/target/test-classes/
SpringBootDemo/SpringBootBase/target/
SpringBootDemo/SpringBootCommon/src/main/java/io/niufen/springboot/consts/
SpringBootDemo/SpringBootCommon/src/main/java/io/niufen/springboot/enums/
SpringBootDemo/SpringBootCommon/src/main/java/io/niufen/springboot/module/mail/
SpringBootDemo/SpringBootCommon/src/main/java/io/niufen/springboot/module/member/
SpringBootDemo/SpringBootCommon/src/main/java/io/niufen/springboot/module/oos/
SpringBootDemo/SpringBootCommon/src/main/java/io/niufen/springboot/module/order/
SpringBootDemo/SpringBootCommon/target/generated-sources/
SpringBootDemo/SpringBootCommon/target/generated-test-sources/
SpringBootDemo/SpringBootCommon/target/test-classes/
